<header class="site-header">
    <div class="container header-content">
        <a class="logo" href="{{ 'home'|page }}">
            NexaTech<span>.</span>
        </a>

        <nav aria-label="Main navigation">
            <a href="{{ 'home'|page }}" class="{{ this.page.id == 'home' ? 'active' : '' }}">
                Home
            </a>

            <a href="{{ 'about'|page }}" class="{{ this.page.id == 'about' ? 'active' : '' }}">
                About
            </a>
            {% component 'dynamicNavigation' %}
            <a href="{{ 'contact'|page }}" class="{{ this.page.id == 'contact' ? 'active' : '' }}">
                Contact
            </a>
        </nav>
    </div>
</header>